*{
  background-color: rgb(187, 183, 183);
}

span{
    display: flex;
    width: max-content;
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px;
}

button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}