*{
    background-color: black;
}

/* #todo1{
    background-color: blue;
} */

.todo{
    background-color: yellow;
}

#btn{
    background-color: yellow;
}

input::placeholder{
    background-color: yellow;
    color: black;
}

#inp{
    color: yellow;
}